/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);
/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);
@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 800; }
  70% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@-moz-keyframes DASH {
  0% {
    stroke-dashoffset: 800; }
  70% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@-webkit-keyframes BLINK {
  0% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 0; } }

@-moz-keyframes BLINK {
  0% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 0; } }

@-webkit-keyframes FADEIN {
  0% {
    fill-opacity: 0; }
  100% {
    fill-opacity: 1; } }

@-moz-keyframes FADEIN {
  0% {
    fill-opacity: 0; }
  100% {
    fill-opacity: 1; } }

@keyframes ASTEROID {
  0% {
    opacity: 0;
    fill: #75abea; }
  100% {
    opacity: 1;
    fill: #FFFFFF; } }

.img-nasa {
  padding-top: 4rem;
  padding-left: 2rem;
  width: 100%;
  height: 565px;
  margin: 0 auto;
  position: relative;
  display: block; }

.bg path {
  fill: #1A5DAD;
  stroke-width: .5;
  stroke: #1A5DAD;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  fill-opacity: 0;
  -moz-animation: DASH 1.5s ease-in-out 0.5s forwards;
  -webkit-animation: DASH 1.5s ease-in-out 0.5s forwards;
  animation: DASH 1.5s ease-in-out 0.5s forwards; }

.hackuvic path {
  fill-opacity: 0;
  -moz-animation: FADEIN 1s linear 1s forwards;
  -webkit-animation: FADEIN 1s linear 1s forwards;
  animation: FADEIN 1s linear 1s forwards;
  animation-delay: 2s; }

#HACK {
  fill: #FFFFFF; }

#UVIC {
  fill: #CCCCCC; }

.stars path {
  fill: #FFFFFF;
  stroke-width: 0;
  fill-opacity: 0;
  -moz-animation: DASH 1.5s ease-in-out 1.3s forwards;
  -webkit-animation: DASH 1.5s ease-in-out 1.3s forwards;
  animation: DASH 1.5s ease-in-out 1.3s forwards;
  animation-delay: 2.3s; }

.stars path:nth-child(2n+2) {
  fill-opacity: 0;
  -moz-animation: BLINK 3s ease-in-out 2.5s infinite;
  -webkit-animation: BLINK 3s ease-in-out 2.5s infinite;
  animation: BLINK 3s ease-in-out 2.5s infinite; }

.stars path:nth-child(3n+3) {
  fill-opacity: 0;
  -moz-animation: BLINK 2s ease-in-out 3s infinite;
  -webkit-animation: BLINK 2s ease-in-out 3s infinite;
  animation: BLINK 2s ease-in-out 3s infinite; }

.stars path:nth-child(4n+4) {
  fill-opacity: 0;
  -moz-animation: BLINK 2s ease-in-out 4s infinite;
  -webkit-animation: BLINK 2s ease-in-out 4s infinite;
  animation: BLINK 2s ease-in-out 4s infinite; }

.stars polyline {
  fill: #FFFFFF;
  fill-opacity: 0;
  stroke-width: 0; }

.burst:nth-child(odd) {
  fill-opacity: 0;
  -moz-animation: BLINK 2s ease-in-out 2s infinite;
  -webkit-animation: BLINK 2s ease-in-out 2s infinite;
  animation: BLINK 2s ease-in-out 2s infinite;
  animation-delay: 2.5s; }

.burst:nth-child(even) {
  fill-opacity: 0;
  -moz-animation: BLINK 2s ease-in-out 1.5s infinite;
  -webkit-animation: BLINK 2s ease-in-out 1.5s infinite;
  animation: BLINK 2s ease-in-out 1.5s infinite;
  animation-delay: 2.5s; }

.swoosh {
  fill: #EE293D;
  fill-opacity: 0;
  -moz-animation: FADEIN 0.4s linear 0.4s forwards;
  -webkit-animation: FADEIN 0.4s linear 0.4s forwards;
  animation: FADEIN 0.4s linear 0.4s forwards;
  animation-delay: 2.2s; }

#orbit {
  animation: ASTEROID 2s .3s ease-out both;
  animation-delay: 2.7s; }

body {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.home {
  background: linear-gradient(#000000, #021338);
  text-align: center; }

main {
  color: #FFFFFF;
  font-family: "Niramit", sans-serif;
  min-height: 100vh;
  background: url(../images/stars.svg); }

.container {
  max-width: 960px !important; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.btn-primary {
  color: #FFFFFF;
  background-color: #1A5DAD;
  border-color: #1A5DAD; }

.btn-primary:hover {
  background-color: #052c82;
  border-color: #052c82; }

p {
  margin: 1rem auto; }

.header-content {
  padding: 2.5rem 2rem 0; }

.header-content a {
  color: #FFFFFF; }

.header-content a:hover {
  color: #CCCCCC; }

.header-content a i {
  font-size: 2rem; }

.description-content p,
.faq-content p {
  max-width: 600px;
  text-align: left; }

.description-content,
.sponsorship-content,
.faq-content,
.contact-content {
  padding: 5rem 0 0; }

.faq-content .faq-question {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
  padding-top: 1em; }

.contact-content p:last-of-type {
  max-width: 280px; }

#title_hackuvic {
  padding-top: 2rem; }

.footer-content {
  margin-top: 5rem;
  min-width: 100%;
  max-height: 4rem;
  bottom: 0;
  background: #EEEEEE;
  font-size: 1.2rem;
  padding: .5rem 2rem; }

.footer-logo {
  display: flex;
  align-items: center; }

.footer-content a img {
  max-height: .8rem; }

.footer-content nav ul {
  list-style-type: none;
  margin-bottom: 0; }

.footer-content nav ul li {
  margin: 0 .5rem; }

.footer-content nav ul li a {
  color: #052c82;
  font-size: .8rem; }

.footer-content nav ul li a:hover {
  color: #1A5DAD; }
