/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);
body {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.home {
  background: linear-gradient(#000000, #021338);
  text-align: center; }

main {
  color: #FFFFFF;
  font-family: "Niramit", sans-serif;
  min-height: 100vh;
  background: url(../images/stars.svg); }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

._justify-center {
  justify-content: center;
  align-content: center;
  align-items: center; }

.container {
  max-width: 960px !important; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.btn-primary {
  color: #FFFFFF;
  background-color: #172a53;
  border-color: #172a53; }

.btn-primary:hover {
  background-color: #122242;
  border-color: #122242; }

p {
  margin: 1rem auto; }

.header-content {
  padding: 2.5rem 2rem 0; }

.header-content a {
  color: #FFFFFF; }

.header-content a:hover {
  color: #CCCCCC; }

.header-content a i {
  font-size: 2rem; }

.description-content p,
.faq-content p {
  max-width: 600px;
  text-align: left; }

.description-content,
.sponsorship-content,
.faq-content,
.contact-content {
  padding: 5rem 0 0; }

.faq-content h3 {
  margin: 0 auto;
  max-width: 600px;
  text-align: left; }

.contact-content p:last-of-type {
  max-width: 280px; }

#title_hackuvic {
  padding-top: 2rem; }

.footer-content {
  margin-top: 5rem;
  min-width: 100%;
  max-height: 4rem;
  bottom: 0;
  background: #EEEEEE;
  font-size: 1.2rem;
  padding: .5rem 2rem; }

.footer-logo {
  display: flex;
  align-items: center; }

.footer-content a img {
  max-height: .8rem; }

.footer-content nav ul {
  list-style-type: none;
  margin-bottom: 0; }

.footer-content nav ul li {
  margin: 0 .5rem; }

.footer-content nav ul li a {
  color: #172a53;
  font-size: .8rem; }

.footer-content nav ul li a:hover {
  color: #005591; }
