@import "./branding.scss";

$nasa-max-height: 565px;
$nasa-max-width: 665px;

// -----------------------------------------------------------
//                     Animation Mixins
// -----------------------------------------------------------

@mixin DASH-animation($num1, $num2) {
    fill-opacity: 0;
    -moz-animation:DASH $num1 ease-in-out $num2 forwards;
    -webkit-animation:DASH $num1 ease-in-out $num2 forwards;
    animation:DASH $num1 ease-in-out $num2 forwards;
}

@mixin FADEIN-animation($num1, $num2) {
    fill-opacity: 0;
    -moz-animation:FADEIN $num1 linear $num2 forwards;
    -webkit-animation:FADEIN $num1 linear $num2 forwards;
    animation:FADEIN $num1 linear $num2 forwards;
}

@mixin BLINK-animation($num1, $num2) {
    fill-opacity: 0;
    -moz-animation:BLINK $num1 ease-in-out $num2 infinite;
    -webkit-animation:BLINK $num1 ease-in-out $num2 infinite;
    animation:BLINK $num1 ease-in-out $num2 infinite;
}

// -----------------------------------------------------------
//                     Keyframe Animations
// -----------------------------------------------------------

// Creates an outline stroke around svgs then filled them in
@-webkit-keyframes DASH{
    0% { stroke-dashoffset:800; }
    70% {
        stroke-dashoffset:0;
        fill-opacity:0;
    }
    100% {
        stroke-dashoffset:0;
        fill-opacity:1;
    }
}
@-moz-keyframes DASH{
    0% { stroke-dashoffset:800; }
    70% {
        stroke-dashoffset:0;
        fill-opacity:0;
    }
    100% {
        stroke-dashoffset:0;
        fill-opacity:1;
    }
}

// Toggles opacity of svg elements
@-webkit-keyframes BLINK {
    0% { fill-opacity:0; }
    50% { fill-opacity:1; }
    100% { fill-opacity:0; }
}
@-moz-keyframes BLINK {
    0% { fill-opacity:0; }
    50% { fill-opacity:1; }
    100% { fill-opacity:0; }
}

// Fade in elements of svgs
@-webkit-keyframes FADEIN{
    0% { fill-opacity:0; }
    100% { fill-opacity:1; }
}
@-moz-keyframes FADEIN{
    0% { fill-opacity:0; }
    100% { fill-opacity:1; }
}

// Fade through colors
@keyframes ASTEROID {
	0% {
	  opacity: 0;
	  fill: $asteroid-blue;
	}
	100% {
	  opacity: 1;
	  fill: $white;
	}
}

// -------------------------------------------------------------
//                       Main NASA-SVG
// -------------------------------------------------------------

.img-nasa {
    padding-top: 4rem;
    padding-left: 2rem;
    width: 100%;
    height: $nasa-max-height;
    margin: 0 auto;
    position: relative;
    display: block;
}

// ------------------ Circle and HackUVic --------------------
.bg path {
    fill: $nasa-blue;
    stroke-width:.5;
    stroke: $nasa-blue;
    stroke-dasharray: 800;
    stroke-dashoffset:800;
    @include DASH-animation(1.5s, .5s);
}

.hackuvic path {
    @include FADEIN-animation(1s, 1s);
    animation-delay: 2s;
}
#HACK { fill: $white; }
#UVIC { fill: $uvic-grey }


// -------------------- Stars & Blinking ----------------------
.stars path {
    fill: $white;
    stroke-width:0;
    @include DASH-animation(1.5s, 1.3s);
    animation-delay: 2.3s;
}
.stars path:nth-child(2n+2) {
    @include BLINK-animation(3s, 2.5s);
}
.stars path:nth-child(3n+3) {
    @include BLINK-animation(2s, 3s);
}
.stars path:nth-child(4n+4) {
    @include BLINK-animation(2s, 4s);
}

.stars polyline {
    fill: $white;
    fill-opacity:0;
    stroke-width:0;
}
.burst:nth-child(odd) {
    @include BLINK-animation(2s, 2s);
    animation-delay: 2.5s;
}
.burst:nth-child(even) {
    @include BLINK-animation(2s, 1.5s);
    animation-delay: 2.5s;
}

// ------------------------- Swoosh --------------------------
.swoosh {
    fill: $nasa-red;
    @include FADEIN-animation(.4s, .4s);
    animation-delay: 2.2s;
}

// -------------------------- Orbit --------------------------
#orbit {
    animation: ASTEROID 2s .3s ease-out both;
    animation-delay: 2.7s;
}
