/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);

// Nasa Colours
$nasa-red: #EE293D;
$nasa-blue: #1A5DAD;
$white: #FFFFFF;

// HackUVic Colors
$off-white: #fffaf0;
$soft-black: #0F1115;
$uvic-grey: #CCCCCC;
$uvic-light-grey: #EEEEEE;
$uvic-light-blue: #005591;

// Button Colors
$md-button-color: #172a53;
$dk-button-color: #122242;

// Font
$main-font: 'Niramit', sans-serif;
