/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Niramit);

// Nasa Colours
$nasa-red: #EE293D;
$nasa-blue: #1A5DAD;
$white: #FFFFFF;
$asteroid-blue: #75abea;

// HackUVic Colors
$off-white: #fffaf0;
$soft-black: #0F1115;
$uvic-grey: #CCCCCC;
$uvic-light-grey: #EEEEEE;

// Blue Colors
$md-btn-color: #1A5DAD;
$dk-btn-color: #052c82;

// Font
$main-font: 'Niramit', sans-serif;

//Background Colors
$black: #000000;
$dark-blue: #021338;
