
// -----------------------------------------------------------
//				          Imports
// -----------------------------------------------------------

@import "./branding.scss";
@import "./animations.scss";

// -----------------------------------------------------------
//                      Basic Page Needs
// -----------------------------------------------------------

body {
    height: 100%;
    width: 100%;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.home {
  background: linear-gradient($black, $dark-blue);
  text-align: center;
}

main {
  color: $white;
  font-family: $main-font;
  min-height: 100vh;
  background: url(../images/stars.svg);
}


// -----------------------------------------------------------
//				    Bootstrap Overrides
// -----------------------------------------------------------

.container {
  max-width: 960px !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary {
  color: $white;
  background-color: $md-btn-color;
  border-color: $md-btn-color;
}

.btn-primary:hover {
  background-color: $dk-btn-color;
  border-color: $dk-btn-color;
}

p {
  margin: 1rem auto;
  font-size: 1.25em;
}


// -----------------------------------------------------------
//                         Header
// -----------------------------------------------------------

.header-content {
  padding: 2.5rem 2rem 0;
}

.header-content a {
  color: $white;
  font-size: 1.25em;
}

.header-content a:hover {
  color: $uvic-grey;
}

.header-content a i {
  font-size: 2.5rem;
}

// -----------------------------------------------------------
//				        Main Container
// -----------------------------------------------------------

.description-content p,
.faq-content p {
  max-width: 600px;
  text-align: left;
}

.description-content,
.sponsorship-content,
.faq-content,
.contact-content {
  padding: 5rem 0 0;
}

.faq-content {
  .faq-question {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    padding-top: 1em;
  }
}

.contact-content p:last-of-type {
  max-width: 280px;
}

#title_hackuvic {
  padding-top: 2rem;
}

// -----------------------------------------------------------
//				        Footer
// -----------------------------------------------------------

.footer-content {
  margin-top: 5rem;
  min-width: 100%;
  max-height: 4rem;
  bottom: 0;
  background: $uvic-light-grey;
  font-size: 1.5rem;
  padding: .5rem 2rem;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-content a img {
  max-height: 1rem;
}

.footer-content nav ul {
  list-style-type: none;
  margin-bottom: 0;
}

.footer-content nav ul li {
  margin: 0 .5rem;
}

.footer-content nav ul li a {
  color: $dk-btn-color;
  font-size: 1.3rem;
}

.footer-content nav ul li a:hover {
  color: $md-btn-color;
}


// -----------------------------------------------------------
//				        Media
// -----------------------------------------------------------

@media (max-width: 700px) {
  p, .header-content a {
    font-size: 1em;
  }
  .header-content a i {
    font-size: 2rem;
  }
  .faq-content .faq-question {
    font-size: 1.6rem;
  }
  .footer-content {
    font-size: 1.2rem;
  }
  .footer-content a img {
    max-height: .8rem;
  }
  .footer-content nav ul li a {
    font-size: .8rem;
  }
}
