
// -----------------------------------------------------------
//				          Imports
// -----------------------------------------------------------

@import "./branding.scss";

// -----------------------------------------------------------
//                      Basic Page Needs
// -----------------------------------------------------------

body {
    height: 100%;
    width: 100%;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.home {
  background: linear-gradient($dk-btn-color, $lt-btn-color);
  text-align: center;
}

main {
  color: $white;
  font-family: $main-font;
  min-height: 100vh;
  background: url(../images/stars.svg);
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

._justify-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}


// -----------------------------------------------------------
//				    Bootstrap Overrides
// -----------------------------------------------------------

.container {
  max-width: 960px !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary {
  color: $white;
  background-color: $md-btn-color;
  border-color: $md-btn-color;
}

.btn-primary:hover {
  background-color: $dk-btn-color;
  border-color: $dk-btn-color;
}

p {
  margin: 1rem auto;
}


// -----------------------------------------------------------
//                         Header
// -----------------------------------------------------------

.header-content {
  padding: 2.5rem 2rem 0;
}

.header-content a {
  color: $white;
}

.header-content a:hover {
  color: $uvic-grey;
}

.header-content a i {
  font-size: 2rem;
}

// -----------------------------------------------------------
//				        Main Container
// -----------------------------------------------------------

.description-content p {
  max-width: 600px;
  text-align: left;
}

.description-content,
.sponsorship-content,
.contact-content {
  padding: 5rem 0 0;
}

.contact-content p:last-of-type {
  max-width: 280px;
}

#title_hackuvic {
  padding-top: 2rem;
}

// -----------------------------------------------------------
//				        Footer
// -----------------------------------------------------------

.footer-content {
  margin-top: 5rem;
  min-width: 100%;
  max-height: 4rem;
  bottom: 0;
  background: $uvic-light-grey;
  font-size: 1.2rem;
  padding: .5rem 2rem;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-content a img {
  max-height: .8rem;
}

.footer-content nav ul {
  list-style-type: none;
  margin-bottom: 0;
}

.footer-content nav ul li {
  margin: 0 .5rem;
}

.footer-content nav ul li a {
  color: $md-btn-color;
  font-size: .8rem;
}

.footer-content nav ul li a:hover {
  color: $lt-btn-color;
}
